* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}
.top-bar {
  background: #000000;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1.5rem;

  display: flex;
  justify-content: space-between;
}

.top-bar a {
  color: rgb(255, 255, 255);
  margin-right: 1rem;
  font-size: 1rem;
}

.main-header {
  display: grid;
  grid-template-columns: 200px 1fr 250px;
  gap: 1rem;

  padding: 1rem 1.5rem;
  background: rgb(0, 0, 0);
  align-items: center;
}

.logo {
  color: #ffffff;
  margin: 0;
}

.search {
  padding: 1rem;
  font-size: 1rem;
}

.promo {
  background: rgb(214, 190, 84);
  color: white;
  padding: 1rem;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 1rem;
  padding: 1rem;
}

.sidebar a {
  display: block;
  background: #000000;
  color: white;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product {
  background: rgb(255, 255, 255);
  border: 1px solid #ddd;
}

.product h2 {
  background: #000000;
  color: white;
  margin: 0;
  padding: 1rem;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product p {
  padding: 0.5rem;
  font-size: 1rem;
}

.price-bar {
  background: #000000;
  color: white;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background: #000000;
  color: white;
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.footer h3 {
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
}

